[2021-08-07 05:02] MuhammedZakir commented on #310
Sorry, I didn't know there was already a discussion about this [1]. I see you have mentioned using semantic action. I personally think having a repeatition range operator inside grammar is better. Using semantic actions for this feel a bit "hacky" to me.

When using AST transformer for cases like this, can I use functions/conditions to change the node type?

[1] https://github.com/harc/ohm/discuss

[2021-08-08 11:23] #310 closed

[2021-08-08 12:08] pdubroy commented on #310
@MuhammedZakir Can you add some more details about your use case to #215?

[2021-08-08 14:55] MuhammedZakir commented on #215
From #310 :

Before going further, I would like to mention that I didn't "need" numeric quanitifer as much as I thought I would.

I was trying to write a grammar for Markdown parser according to CommonMark spec [1]. As you know, in Markdown, indenteding a line by 4+ spaces [2] will make it a code block. For this use case, I use lookahead for a string of 4 spaces. This works for me and I personally

[2021-08-08 15:39] MuhammedZakir commented on #158
Apologiies if what I am asking for isn't releated to this issue.

---

Is it possible to get something similiar to regex capture group? Examples (syntax can be anything):

Using `@rule` for capturing, and `$rule` for using a captured rule.

1.
[code]

2.
[code]

In the above, the scope of a captured rule need to considered. I am not that familiar with parsing, so I am not sure if I would be of any

[2021-08-09 07:24] mlajtos commented on #293
Having just an Ohm parser generating CST inside Swift (or any other language) would be awesome. Ohm/Swift would be dream come true.

[2021-08-09 17:46] MuhammedZakir commented on #158
I think the above will also work nicely with indentation-sensitive languages.

Simple example:
[code]

For this to work, a capture's scope should be such that the a rule should be able to access captures in it's parent scope/rules -  like functions in most programming languages, which can access variables in its' outer scope. Therefore, in the above grammar, `class_rule` should contain `func` for

[2021-08-10 08:18] pdubroy commented on #158
@MuhammedZakir Thanks for contributing your thoughts here! That's an interesting suggestion, and maybe something like this could work for Ohm. I still need some time to think through all of the details, but this has inspired me to see what I could find in the literature for solving this problem. Here's what I found after a quick search:

- [Indentation Sensitive Languages](https://citeseerx.ist.ps

[2021-08-10 09:55] #309 closed

[2021-08-16 02:39] moonrise-tk commented on #293
I don't mean to advertise a different tool, but if specifically for Rust, Pest is fairly similar (i haven't tried myself, just seen it before): [https://pest.rs](https://pest.rs)

[2021-08-18 21:38] #242 closed

[2021-08-18 21:39] pdubroy commented on #307
An early version of this has landed, and can be seen in the [typescript](https://github.com/harc/ohm/tree/master/examples/typescript) example.

[2021-08-20 11:29] mlajtos opened #318 "Functions as arguments of semantic actions"
Would it be possible to alter args to semantic action to be functions with extra properties, or in general make them callable? It would look like this:

[code]

In my opinion, this looks cleaner than always repeating name of the semantic action in non-terminal node actions. The same thing applies for defining actions for `ohm.extras.toAST`. And it can be backward-compatible.

[2021-08-20 21:07] pdubroy opened #319 "Clean up remaining references to npm"
Here's the contents of the `npm-refs` file that contained all the places that still needed to be cleaned up:

[code]

[2021-08-28 16:35] MuhammedZakir commented on #158
A Symbol-Based Extension of Parsing Expression Grammars and Context-Sensitive Packrat Parsing

Talk: https://www.youtube.com/watch?v=4QrZxfgZFDg
Implementation: http://nez-peg.github.io/
Example: https://github.com/nez-peg/nez-grammar/blob/master/xml-sym.nez

---

All symol operations in SPEG:

- Symbol Table Mutation
    - `<symbol A>`: captures and binds `A`
    - `<reset A>`: remove all `A` ent

[2021-09-12 02:41] pragdave opened #321 "fast-glob is missing in the @ohm-js/cli/package.json"
I'd generate a PR, but I'm not sure where this lives in the v16 world.

Dave

[2021-09-12 05:20] #321 closed

[2021-09-12 05:23] pdubroy commented on #321
Whoops, thanks for the report! Must have worked locally because it was used in the now-deleted `typescript-codegen` package, so it was still in yarn.lock.

Anyways, fixed on master, and I've pushed a new version (0.1.1) of the `@ohm-js/cli` package.

[2021-09-12 08:52] pdubroy commented on #307
This is coming in v16, which should be released soon. More details in the [TypeScript doc](https://github.com/harc/ohm/blob/master/doc/typescript.md).

[2021-09-12 19:43] pragdave opened #322 "Use of Unicode escapes confuses `generateRecipes`"
The following source

[code]

Generates a recipe file that compiles fine under node, but fails to compile with ts-node. If I remove the two Unicode escapes, it compiles fine under both.

[code]

[2021-09-12 20:16] pdubroy commented on #322
Interesting, thanks for reporting. Seems like it's related to this: https://v8.dev/features/subsume-json.

I am curious why there is a difference between JS and TS here. Can you let me know which version of TypeScript you're using? It seems to work for me under 4.4.3:

[code]

A possible fix would be to modify [`Terminal.outputRecipe`](https://sourcegraph.com/github.com/harc/ohm/-/blob/packages/oh

[2021-09-12 20:48] pdubroy commented on #322
Hmm, here was my first attempt at a fix: https://github.com/harc/ohm/compare/issue-322?expand=1 but it seems it's a bit more complicated than I thought. Will try to tackle it tomorrow.

Thanks @pragdave for taking the new stuff for a spin!

[2021-09-12 21:39] pragdave commented on #322
[code]

[2021-09-14 07:37] #322 closed

[2021-09-14 07:39] pdubroy commented on #322
Ok, turns out it was simpler than I thought — I was totally overthinking it, due to the multiple levels of escaping.

Thanks again for the bug report!

[2021-09-14 18:43] pdubroy opened #324 "Change signature of _iter and _nonterminal to `Action<T>`"
The current definition of ActionDict is:

[code]

where `Action<T>` is:

[code]

In other words, there are two possible signatures for semantic actions:

- `(children: Node[]) => T`, for the *_nonterminal* and *_iter* actions; and
- `(...args: Node[]) => T` for all other actions.

We made this choice back in an early version of Ohm, back in 2014 or 2015. Now that [rest parameters](https://develope

[2021-09-14 18:44] pdubroy commented on #324
@pragdave Do you have any thoughts here?

[2021-09-15 19:05] #324 closed

[2021-09-28 08:03] StephenChips opened #328 "What the heck is arity, arity inconsistency and what will cause throwing this error?"

[2021-09-29 10:34] pdubroy commented on #328
Please take a look at the [documentation on semantic actions](https://github.com/harc/ohm/blob/master/doc/api-reference.md#semantic-actions). Hopefully this clarifies things. If you have more questions, please feel free to ask on the [discussions page](https://github.com/harc/ohm/discussions) or [Discord](https://discord.gg/KwxY5gegRQ).

[2021-09-29 10:34] #328 closed

[2021-10-06 05:21] pdubroy commented on #318
Hi @mlajtos,

Sorry it's taken me a while to respond to this! I was focusing on getting the [v16 release](https://github.com/harc/ohm/releases/tag/v16.0.0) out.

In principle this is something that we could support, and I'm pretty sure we discussed it back when we designed the first version of Ohm's semantics.

How would it work in the presence of multiple operations? E.g., if you had not just an

[2021-10-11 09:36] mlajtos commented on #318
Hello @pdubroy,

don't worry – I am happy to see new release with TS support. :)

Yes, exactly. This way it would be backward-compatible, while less verbose for single-operation semantics.

Totally understandable. :) Thank you for consideration.

[2021-10-11 09:36] #318 closed

[2021-10-21 07:52] #220 closed, assigned to nobody

[2021-10-24 03:31] chkmls opened #335 "Semantic action not working inside other semantics"
for example, in the es5 grammar,
if i'm set different semantics for IfStatement  and VariableStatement ,
when there is VariableStatement  inside IfStatement , the VariableStatement semantics  ignored and shows as is, without the VariableStatement i set.
but when i write variable outside ifStatement the VariableStatement not ignored

the code

[code]
Thanks for great parsing toolkit

[2021-10-24 07:25] #335 closed, assigned to nobody

[2021-10-26 05:57] chkmls opened #336 "es5 grammer and _iter(...children) with if else"
When using the es5 grammer,
if  _iter function returning children content() the else block wont show up,
but i have to use content and not sourceString  because i want to return modified IfStatement
[code]

but when _iter function returning children sourceString  the else block shows up
[code]

[code]
so when runing this
[code]
What can i do to use the modified IfStatement with else?

Thanks

[2021-10-26 08:02] #336 closed, assigned to nobody

[2021-11-02 15:10] pdubroy commented on #45
Fixed!

[2021-11-02 15:10] #45 closed

[2021-11-02 15:11] #64 closed

[2021-11-03 11:53] pdubroy commented on #136
This has shipped in an experimental form in v16.1.0-pre.1, which can be installed via `npm install ohm-js@next`. It's also available in the Ohm Editor by appending `?ohm-js=next` to the URL.

Here is a sample grammar, using the `tstr` example that has been used in this thread:

[code]

Note that both leading and trailing whitespace will be skipped around _Expr_. Here is a screenshot from the edito

[2021-11-16 10:07] customcommander opened #338 "Issues with "Ohm: Parsing Made Easy" article"
Hi,

Re: https://nextjournal.com/dubroy/ohm-parsing-made-easy

First I want to say that this article is amazing. It got me super excited to trying out Ohm!

As I was reading through I noticed a couple of things:

**Broken code runner?**

This is just one example:

![Screenshot 2021-11-16 at 09 59 19](https://user-images.githubusercontent.com/681975/141964990-5bdf4baa-3c3e-4c8c-8e96-46df43458b7f.pn

[2021-11-16 12:19] pdubroy commented on #338
Thanks for letting me know, and I appreciate the super clear bug report :-)

I've fixed up the duplicated content and the broken link. However, the `ohm:nil` thing is something specific to Nextjournal that I don't know how to resolved. I've emailed the team, hopefully they can tell me how to fix it.

[2021-11-17 09:55] customcommander commented on #338
@pdubroy Looks like they fixed the `nil` issue. Thanks for fixing so quickly!

[2021-11-17 14:42] pdubroy commented on #338
Cool! Thanks go to @mk and crew for the quick fix on Nextjournal :-)

[2021-11-17 14:42] #338 closed

[2021-11-17 18:50] mk commented on #338
Oh yes, @zampino fixed it promptly and I said I’d write you @pdubroy but then forgot. 🙈 Sorry for breaking it in the first place!

[2021-12-01 06:00] pdubroy commented on #56
I see a few issues with the implementation in #175:

- it only detects direct recursion
- it wouldn't catch the following case:
[code]

A solution for this should probably use the existing mechanism for detecting left recursion, and build on that.

[2021-12-11 19:09] guitarvydas commented on #136
feedback: working fine for me (https://github.com/guitarvydas/jam0002/blob/main/guitarvydas/cmm.ohm)

[2021-12-20 15:14] noahssarcastic opened #343 "Running out of RAM for large files (100k+ lines)"
I'm using Ohm for a work project where I've written a grammar for a geosciences file-type called .grdecl. Files in this format can commonly be 100k+ lines. I'm succeeding in parsing smaller dummy files, but when I try to parse large files, I'm running out of RAM. I've upgraded the process's memory cap to 8GB but have still been unable to parse a file of ~150k lines.

[2021-12-21 15:24] pdubroy commented on #343
Hi @noahssarcastic! Unfortunately, memory usage is a known issue with the current Ohm implementation. In general packrat parsing (which is the parsing algorithm Ohm uses) uses a lot of memory due to the memo table. And our main focus with Ohm has been on ease of use, rather than performance.

That said, there are some opportunities for reducing memory usage that I tried in the past but never ended

[2021-12-21 15:31] pdubroy commented on #343
How big are the files you're trying to parse exactly (in bytes)?

[2022-01-03 14:52] noahssarcastic commented on #343
One that I just tried today is ~11kB. This one is from an open dataset so I can share it.

https://www.sintef.no/Projectweb/MatMoRA/Downloads/Johansen/

Looks like they have "smaller" versions of the dataset but it appears they just attach a text file with indices of cells to ignore.

[2022-01-03 15:14] pdubroy commented on #343
Thanks! Can you also share your grammar, and give me the command line that you are using?

11kB is not very large, so if it's OOMing then it can probably be fixed by changes to the grammar.

[2022-01-03 15:17] noahssarcastic commented on #343
[code]

[2022-01-03 15:18] noahssarcastic commented on #343
One of the blocks though is commonly over half of those lines.

[2022-01-03 15:19] noahssarcastic commented on #343
Also, I would be really interested in finding out more about how Ohm grammars themselves can be optimized for performance.

[2022-01-03 15:37] noahssarcastic commented on #343
I originally said kB but I meant MB I apologize. 11MB.

[2022-01-03 17:32] 7185 commented on #185
I have the following message in my Angular project:
[code]
It seems ohm-js is not following the ES module standard, so maybe this issue could be reopened?

[2022-01-05 03:51] Lamby777 opened #345 "# operator not working on syntactic rule inside lexical rule"
I feel like I'm doing something wrong, but I read the docs 5 times and couldn't find a fix. Is this a bug? This error stays, even if I use the # example inside the [syntax reference](https://github.com/harc/ohm/blob/master/doc/syntax-reference.md). I'm trying to use "Expression" inside this lexical rule.

![image](https://user-images.githubusercontent.com/35111165/148157662-278e501f-3afd-47e4-8ba2

[2022-01-06 07:00] pdubroy commented on #345
Up to now, this was disallowed because it's _usually_ a grammar smell if you are trying to apply a syntactic rule inside a lexical context — see #136 for a discussion.

As of Ohm v16.1.0 (just released), you can now use the built-in [`applySyntactic`](https://github.com/harc/ohm/blob/master/doc/syntax-reference.md#applySyntactic) rule to do this.

Note that `#` is for the opposite: it creates a _l

[2022-01-06 07:00] #345 closed

[2022-01-06 07:01] pdubroy commented on #136
Thanks for the feedback, @guitarvydas!

FYI I've renamed the rule to `applySyntactic` and released it as part of [Ohm v16.1.0](https://github.com/harc/ohm/discussions/346).

[2022-01-06 07:01] #136 closed

[2022-01-06 07:25] pdubroy commented on #343
Realistically I don't think it will be easy to reduce Ohm's memory usage to be able to parse files that large.

Given the simplicity of this grammar, I'd suggest a hand-written recursive-descent parser.

[2022-01-06 07:25] #343 closed

[2022-01-06 07:26] pdubroy commented on #279
I realized that our ES5 grammar assumes strict mode, so it seems this is working as intended.

[2022-01-06 07:26] #279 closed

[2022-01-06 07:44] pdubroy commented on #47
This issue was fixed a while ago.

[2022-01-06 07:44] #47 closed

[2022-01-06 07:45] #23 closed

[2022-01-08 12:06] pdubroy commented on #185
@7185 I'm working on a fix in #350. Could you please try install `ohm-js@16.2.0-pre.esm` and let me know if it fixes the problem?

[2022-01-08 14:23] 7185 commented on #185
@pdubroy It seems to fix the problem indeed, no more warning with that version

[2022-01-08 16:08] #185 closed

[2022-01-08 16:22] pdubroy commented on #185
@7185 Thanks for confirming!

I've just published `ohm-js@16.2.0` with this.

[2022-01-10 17:29] locriacyber opened #353 "Express Unicode codepoints over 0xFFFF"
On page http://www.unicode.org/faq/blocks_ranges.html:
Unicode characters may be encoded at any code point from U+0000 to U+10FFFF.

So how do I express that in Ohm?

[2022-01-10 23:06] pdubroy opened #355 "Support use of surrogate pairs in ranges"
The following does not work in Ohm, but probably should:

[code]

This is equivalent, and doesn't work either:

[code]

This code point is represented as a [surrogate pair](https://dmitripavlutin.com/what-every-javascript-developer-should-know-about-unicode/#24-surrogate-pairs) in JS, and should be treated like a single character.

We can use `str.match(/./ug).length` to check the number of code p

[2022-01-15 09:49] #355 closed

[2022-01-30 16:00] MuhammedZakir commented on #158
Any updates/thoughts? :eyes:

[2022-02-01 00:01] luizeldorado opened #362 "Allow for async semantic actions"
Hello. I am working on a project that uses Ohm, when I realized that this library doesn't really support any kind of asynchronous operations. I request for this feature to be added, or tell me some way to do it.

What I want to do is to have a 'sleep' function inside of a semantic action. In JS, one way to do that is to make a Promise with the await keyword. This only works in async functions, but

[2022-02-02 10:00] pdubroy commented on #362
Hi @luizeldorado! Thanks for the feature request. This is something another user brought up earlier this year in [our Discord](https://discord.gg/KwxY5gegRQ).

In principle I think it's something that we could support. Can you give me some more details what exactly you are doing inside the async action? Before trying to tackle this, I'd like to better understand what the use cases are.

[2022-02-02 14:24] pdubroy commented on #158
@MuhammedZakir Unfortunately I haven't had the time to investigate this deeply yet. But, the SPEG approach seems nice and I could imagine it fitting well into Ohm.

I do have some more time in the coming weeks/months so this may be something that I can dig into soon.

[2022-02-02 20:33] luizeldorado commented on #362
Hello @pdubroy, thanks for responding. It's kind of hard to explain without going deep in the [code of my project](https://github.com/luizeldorado/webgm/blob/6eb1df8d87fcc8d0da7dca36067cb9cf3aae3649/src/game/GML.js#L93), but I would like to do something like this:

[code]

I'm sure there's other use cases, such as making a fetch request or opening a file, where you want to wait until those things

[2022-02-05 21:24] luizeldorado commented on #362
Hey, just dropping by to give an update on my situation in case anyone else wants to do something similar.

I've [updated my project to use the ohm-extras function toAST()](https://github.com/luizeldorado/webgm/blob/999d5231b5c9cccf7f78e51c5dae3248adfe7587/src/game/GML.js#L415), to convert the MatchResult into a basic object. From there, I manually loop through the nested function, calling the fun

[2022-02-09 06:14] pdubroy commented on #362
Thanks for the update! Glad to hear you solved your problem.

That's actually what I was going to suggest to you. Writing an interpreter / evaluator directly in your semantic actions works well for simple languages, but once things get more complex, it's probably best to produce an AST and interpret that.

I'm going to go ahead and close this, because I'm not yet convinced we want to allow async a

[2022-02-09 06:14] #362 closed

[2022-02-11 16:35] nailuj29 opened #363 "Uncaught Error: toAST() expects a succesfull MatchResult as first parameter, but the MatchResult is successful"
I am creating an app that uses Ohm, and when trying to get an AST with the `toAST` function. However, I get an error stating `toAST() expects a succesfull MatchResult as first parameter, but the MatchResult is successful` I believe this is an error with the `instanceof` in the code, because `semanticsForToAST` fails similarly, and the `MatchResult` is successful

[2022-02-16 08:53] pdubroy commented on #363
I wasn't able to reproduce this. Can you give me some more details about how are importing Ohm (e.g., `require` or `import`), and how you are running and/or bundling it?

It sounds like the problem is that there are two different instances of the module.

[2022-02-16 14:39] nailuj29 commented on #363
I am importing it using `import` and running it in a Vite with typescript.

[2022-02-16 16:36] pdubroy commented on #363
@nailuj29 Can you show me exactly how you are importing and using it? If you give me the code it's much easier for me to try to reproduce.

Also, what does your tsconfig look like? That could make a difference.

[2022-02-17 10:38] pdubroy commented on #363
Ok, I was able to reproduce the problem as follows:

1. Set up a new Vite project with `npm create vite@latest`, and chose "vanilla-ts" as the project type.
2. `npm install -D ohm-js`
3. Put the following code into main.ts:
[code]
@nailuj29, is this similar to how you are using it?

[2022-02-17 15:09] nailuj29 commented on #363
Yes, that is what I am doing

[2022-02-24 14:39] MuhammedZakir commented on #158
Glad to hear that! :-)

FYI: Pest supports context-sensitive parsing: https://docs.rs/pest_derive/latest/pest_derive/#push-pop-drop-and-peek.

[2022-02-28 09:07] #363 closed

[2022-02-28 09:20] pdubroy commented on #363
@nailuj29 The issue is fixed now, and I've just published the fix in [v16.3.1](https://www.npmjs.com/package/ohm-js/v/16.3.1).

[2022-03-23 22:20] ericmorand opened #372 "Character in the middle of a sentence is not matched"
I'm trying to separate a "sentence" into three tokens, by using an arbirrary character as separator.

Basically, I want to provide a grammar that support that kind of syntax:

`Foo consists of n Bar`

And have the lexer detect three tokens:

* `Foo consists of`
* `n`
* `Bar`

Writing the following rule fails:

[code]

It definitely looks like a bug because something like:

[code]

Would totally de

[2022-03-24 08:45] pdubroy commented on #372
This is a common confusion about how the `+`/`*` operators work in Ohm (and other PEG-based tools). The problem is that your `alnum+` expression will consume the `n` character. You can use negative lookahead to prevent this: `(~"n" alnum)+`.

See [Dealing with greedy matching](https://ohmjs.org/docs/patterns-and-pitfalls#dealing-with-greedy-matching) on the _Patterns and Pitfalls_ page for more de

[2022-03-24 08:45] #372 closed

[2022-04-12 05:05] haikyuu commented on #158
I'm trying to extend the grammar of Ohm to include some indentation specific operators as specified in the paper [Indentation-sensitive parsing for Parsec](https://michaeldadams.org/papers/layout_parsing_2/LayoutParsing2-2014-haskell-authors-copy.pdf) also linked above.

This will change the following part of Ohm grammar:
[code]
With these changes, we can write the following grammar for (one of th

[2022-04-12 17:27] MuhammedZakir commented on #158
Wouldn't a general method/operator such as the one I mentioned above [1] solves this?

[1] https://github.com/harc/ohm/issues/158#issuecomment-895415522

[2022-04-13 15:35] pdubroy commented on #158
@haikyuu Thanks for taking a go at this! This is definitely an interesting experiment.

I've been thinking a bit in the past few weeks about how we can handle indentation-sensitive language, and other context-sensitive languages. I'll try to share some more substantial thoughts in the next day or two. For now, I can share my initial thoughts/impressions:

- I find the indentation annotations — bot

[2022-04-14 04:38] haikyuu commented on #158
@pdubroy I have watched the [SPEG video](https://www.youtube.com/watch?v=4QrZxfgZFDg&ab_channel=SplashConference2017) and I find it very powerful and readable syntax.
- It is definitely more expressive. I'll read the paper and try to use it to assess its usability and readability.
- It seems to be easier to implement as well as it requires adding one shared data structure that only the added opera

[2022-04-14 11:44] pdubroy commented on #158
@haikyuu Sounds great! Btw, if I were to experiment with this in Ohm, I'd initially try to do this without changing any syntax at all. I'd create a "dummy" grammar with empty rules. Once it's instantiated in JS, I'd replace the rule bodies with a custom subclass of _PExpr_. Something like this:

[code]

Maybe that's helpful in case you or anyone else ends up experimenting with this.

[2022-04-19 09:35] guitarvydas opened #373 "inline alts need newline"
to duplicate: paste the below grammar into ohm-editor, case 0: no error, case 1: uncomment "Thing1a rule" -> parse error in grammar

severity: low
workaround: always include newline after inline "-- ..." alternate declaration

---

testGrammar {
Main = Thing0a Thing0a
Thing0 =
| A
| B

Thing1 =
| A -- a
| B -- b

Thing0a = | A | B
// Thing1a = | A -- a | B -- b

A = "a"
B = "b"
}

[2022-04-19 17:20] alexwarth commented on #373
Hi @guitarvydas,

This is how we intended the syntax of "case labels" to work, and our motivation was to keep grammars readable. I would argue that

[code]

is much more readable than

[code]

Now, I understand this may be more heavy-handed than you might like. And it would be great if we could produce a nicer error message for your example. But I don't think it's a good reason to relax the syntax

[2022-04-19 17:36] guitarvydas commented on #373
I don’t disagree, but it wasn’t obvious from the documentation.

I found a (single) edge-case where it made sense to collapse the grammar and have something like Thing1a on one line, but, I usually I don’t do this.

thanks
pt

[2022-05-19 23:17] etsai-stripe opened #377 "Uncaught TypeError: ohm.makeRecipe is not a function"
i have a generated ohm bundle file in my npm package
i use the npm package in my react app
but the client browser that loads the react app is throwing `Uncaught TypeError: ohm.makeRecipe is not a function` error
in my `package.json`: `"ohm-js": "^16.3.2",`

is this version related? should i generate the bundle differently?
i generated by the following command
`npx ohm generateBundles --withTypes s

[2022-06-01 14:55] guitarvydas opened #378 "Documentation minor typo"
implicity (should be implicitly) in syntax doc (section on space skipping)

[2022-06-01 21:34] stephano33 opened #379 "How do get a space but exclude newlines ("\n")"
I love Ohm.js!

However, I find it sometimes hard to define horizontal white space. I.e. whitespace but excluding newline characters.
What is the best way to do that?

My current workaround is this:
`sp = (~"\n" space)*`

But I'm not sure if the negative lookahead will lead to problems down the road, so I'd like to avoid negative lookaheads.

[2022-06-02 03:00] pdubroy commented on #379
If you want explicit space skipping, that’s an easy way to do it. If you
want Ohm’s built in implicit space skipping to not swallow new lines, you
can do something similar by redefining the built-in `spaces` rule like so:

[code]

There’s no reason to avoid negative lookahead that I know of.

On Wed 1. Jun 2022 at 14:34, stephano33 ***@***.***> wrote:

[2022-06-05 04:43] stephano33 opened #380 "Avoid naming rules (different arity)"
Again, I'm a very big fan of Ohm. Especially, the GUI is perfect!

I'm now generating grammars the I want to debug with the Ohm GUI to find errors.
Those grammars don't have any semantic rules; i.e., I'm only debugging the syntax rules.

[code]
Is there a way to write such Ohm grammars? I'd like to avoid naming the first choice as '-- plus'. Or use implicit auto-generated names, like '-- rand123'?

[2022-06-05 04:53] stephano33 commented on #380
Also, there needs to be a NewLine ("\n") before the '|', right? I mean when "inline rule declarations" are used.

This doesn't work:
[code]

[2022-06-05 22:08] stephano33 commented on #380
Another problem from today.

How could I name the different arity rules of "factor"?
[code]
This doesn't work:
`factor = value ("*" sp  factor -- mult  | "/" sp  factor -- division | sp --space)`

It is always possible (but looks silly) to change the arity with dummy rules, like this:
`factor = value ("*" sp  factor  | "/" sp  factor | sp sp sp)`

Here: " sp sp sp" is just a dummy way to make the

[2022-06-06 12:53] MuhammedZakir commented on #380
You'll have to move the bracketed part to another rule.
[code]

[2022-06-06 17:41] pdubroy commented on #380
Hi @stephano33,

Glad you are enjoying Ohm! Btw, for questions like these, it's probably better to ask under [Discussions](https://github.com/harc/ohm/discussions) or over in the [Ohm Discord](https://discord.gg/KwxY5gegRQ).

To your questions:

No, most people using Ohm will need semantic actions, and consistent arity is required for the semantic actions to work, so we don't support omitting the

[2022-06-06 17:41] #380 closed

[2022-06-06 17:51] pdubroy commented on #379
I'm going to go ahead and close this since it doesn't seem to be an actual issue with Ohm. Please feel free to re-open if you disagree!

[2022-06-06 17:51] #379 closed

[2022-06-06 17:57] pdubroy commented on #377
Hi, thanks for filing the issue and sorry for the slow reply...I'm currently on a 6-week camping trip with pretty limited internet access :-)

I don't think this is version-related. From what I can tell, the problem seems to be that `makeRecipe` was never included in the type definitions. Unfortunately I probably won't be able to fix this for a few weeks, but am happy to approve a pull request if

[2022-06-07 12:30] guitarvydas opened #381 "toString fails with mysterious message due to bug"
https://github.com/guitarvydas/cparse/blob/report/insert.html#L59

I created erroneous code and hit a JS error.  It would be nicer if toString() were to give a better error message...

I forgot to call the appropriate semantic function, then called .toString().

.toString() failed with "undefined", which did not help to figure out what was wrong...

You should be able to load "insert.html" into a

[2022-06-22 09:59] todwang opened #383 "context"

[2022-06-22 10:00] #383 closed

[2022-06-22 11:16] todwang commented on #158
Any progress？

[2022-06-22 11:44] haikyuu commented on #158
No, I didn't make any progress. Feel free to jump on it if you will 🙏

[2022-06-23 20:19] thiago-hs opened #384 "Lookahead/lookbehind not workinkg properly in grammar expression"
I'm using Ohm.js to build a parser, and I'm trying to transform this regex:

`/\^CF[A-Z0-9]?\,?((?<=([A-Z0-9]?\,))\d{1,5})?\,?((?<=([A-Z0-9]?\,\d{0,5}\,))\d{1,5})?/g`

into the following rule:

`rule = "^CF" hexDigit? ","? (&(hexDigit? ",") digit+)? ","? (&(hexDigit? "," digit* ",") digit+)?`

I'm trying to build a rule that respect the order of the parameters separated by commas, and for that I'm

[2022-06-24 04:05] MuhammedZakir commented on #384
Can you post some example strings for testing? Pereferably, strings that should and shouldn't match.

[2022-06-24 14:14] thiago-hs commented on #384
Sure, thanks for your support !

I actually found an alternative solution, but the initial idea was to create a rule that starts with a literal and then could have
 three optional parameters, the parameters could have different types and have to be in the correct position in the parameters sequence, so let's imagine the following rule expression:

1.  Starts with the literal "^CF"
2. Then can have

[2022-06-24 14:24] thiago-hs commented on #384
I'll close the issua since I found a solution, but if anyone find a solution that use the lookahead/lookbehind thing, please le me know.

[I created this gist with onother of thoses "function rules" I created.](https://gist.github.com/thiago-hs/20e531a58f7a006a4d69e6d4189a91ca)

[2022-06-24 14:26] #384 closed

[2022-07-06 11:20] stondini opened #385 "ohm-js cli : add --output argument to define the output folder"
Hello,

It may be useful for Typescript developers to have the ability to generate the Javascript + Typescript definition files in a specific folder in order to avoid them in `src` folder (which is the current output folder).

For instance, the following command generates the files at the same place as the ohm grammar source files.
`ohm generateBundles --withTypes src/ohm/*.ohm`

It could be great

[2022-07-08 19:02] pdubroy commented on #385
Agreed! My instinct would be to make this behave the same way as [TypeScript's `outDir` arg](https://www.typescriptlang.org/tsconfig#outDir), and preserve the directory structure of the original files. Does this seem like the right choice?

[2022-07-09 08:45] stondini commented on #385
Yes it sounds good.
It could be the default behaviour and stil keep `--output` argument to override it in case of special situations.

[2022-07-09 15:51] ericmorand opened #386 "For namespaces, the generated bundle type definitions doesn't declare exactly what the generated module exposes"
When using the CLI command `generateBundles`, the generated type definitions are not exectaly in-sync with the generated JavaScript module.

From the following grammar:

[code]

Here is what the generated JS module looks like, formatted for clarity:

[code]

Here, the module _is_ an object with two properties, `Foo` and `Bar`. Said differently, the JavaScript module consists of two named propertie

[2022-07-15 00:42] jweissman commented on #377
Facing a similar issue today -- not quite resolved but found I could work around in my case.

- I was able to correctly use the compiled bundles (`Language.ohm-bundle.d.ts` and `Language.ohm-bundle.js`) directly in the context of a Jest test execution.
- The compiled bundles did not work when the same code was run in the browser (next.js react app)
- The currently-working browser strategy with nex

[2022-07-17 06:02] DavidSouther opened #387 "Implement Throw and Label operations"
https://arxiv.org/pdf/1806.11150.pdf with proof of concept in https://github.com/sqmedeiros/lpeglabel

PEGs. is extension associates recovery expressions to labels, where a label now not only reports a syntax error but also uses this recovery expression to reach a synchronization point in the input
and resume parsing.

The syntax using ^ as the synchronization operator feels fairly clean? I'm not

[2022-07-17 17:13] DavidSouther opened #388 "Handle trailing separators in ListOf"
[code]

`A,` with RepA succeeds, but fails NonemptyListOf<"A", ",">. This would be desirable to allow trailing commas, eg in

[code]

I can of course write my own List<e, s> as above, but it loses the asIteration() built-in utilities.

[2022-07-17 17:39] pdubroy commented on #388
You're getting a syntax error here because the super-splice operator (`...`) can only be used with an alternation. In other words, it needs to appear beside a `|`.

Say your supergrammar is as follows:

[code]

Here are some examples of using the super-splice operator:

- `contactInfo := phoneNumber | ...`
- `contactInfo := ... | phoneNumber`
- `contactInfo := phoneNumber | ... | faxNumber`

The r

[2022-07-17 17:47] pdubroy commented on #388
Overriding built-in parameterized rules does work:

[code]

This will succeed to match `",,"`.

[2022-07-17 19:31] DavidSouther commented on #388
Gotcha, that does make sense. Your second comment doesn't capture what I'm looking for, I update the rule title and examples to make it more clear.

[2022-07-18 18:01] DavidSouther commented on #388
Ok, if I make a new base language for myself, I can do this:

[code]

[code]

[2022-07-18 18:01] #388 closed

[2022-07-25 12:55] guitarvydas opened #389 "_terminal() not specified results in undefined"
I am generating Ohm-JS code and failed to generate a "_terminal" rule.

The failing code returned "undefined" instead of a more graceful failure.

The debugger shows me:
[code]

u is "_terminal"
e is undefined
return undefined

The bug is clearly my problem, but debugging could have been faster had I seen something more interesting than the generic undefined.

Should this throw instead? / error me

[2022-07-25 21:52] pdubroy commented on #389
Can you share a screenshot of the stack trace, and/or share the generated code so I can reproduce the error? I'm not able to reproduce it using v16.3.4. Here's what I tried:

[code]

[2022-07-28 21:34] ericmorand opened #390 "exprs is not exported even though it is use by @ohm/cli"
Hi guys,

I'd like to be able to generate code from a grammar, like `@ohm/cli` is doing. But it seems like the package doesn't export the node classes themselves (like `Apply` or `UnicodeChar` for example) even though `@ohm/cli` is perfectly able to use them, as can be seen here:

https://github.com/harc/ohm/blob/211aed7660064d1f64e063c7481283882a564f68/packages/cli/src/helpers/getNodeTypes.js#L38

[2022-08-01 07:47] pdubroy commented on #390
I don't see any reason why we can't add this to type definitions. I don't think it was intentionally omitted, it's just not really part of the core API of Ohm, so it was never included.

I'll see if I can fix this sometime this week.

[2022-08-01 09:35] guitarvydas commented on #389
I agree that throws are generated and appropriate.

The above examples helped me clarify the problem.  It turns out that my code was converting one of the throws to an undefined result.

[2022-08-01 09:35] #389 closed

[2022-08-01 10:12] pdubroy commented on #386
Hmmm, I'm not sure I'd put it that way. The module has a single export, which is a Namespace object. That object has two properties.

The way it's declared was based on the [recommendation from the TypeScript documentation on .d.ts files](https://www.typescriptlang.org/docs/handbook/declaration-files/templates/module-d-ts.html#default-exports). I didn't realize that it requires the use of `esModul

[2022-08-02 11:07] pdubroy commented on #390
This has been fixed and release in v16.4.0.

Please let me know if you run into any issues, or if there's anything else that you think should be added to the typings.

[2022-08-04 15:23] charlespwd opened #394 "listOf, nonemptyListOf and emptyListOf handling in toAST"
Docs specify that, by default, array-like things are getting transformed into arrays. This is true of ListOf but not of the lexical version `listOf`.

I had to add the following to my mappings object for my list of things to be turned into a list.

[code]

I suspect that these should be added to the defaults?

Perhaps [here](https://github.com/harc/ohm/blob/master/packages/ohm-js/extras/semantics-

[2022-08-04 21:45] ericmorand commented on #390
Thanks a lot.

Although, I'm afraid the change did create a breaking change:

This was the previous type definition of `PExpr`:

[code]

This is the new type definition of `PExpr`:

[code]

Grammars generated with pre-16.4.0 CLI can't be used as namespace to create grammar with 16.4.0.

The reason is that `grammar(source, namespace)` expect namespace to be an object where values are of type `Gramm

[2022-08-05 13:13] pdubroy commented on #394
I started implementing a fix for this, but then I remembered the reason that we don't have defaults for the lexical versions of these rules —

One of the assumptions that `toAST` makes is that lexical rules represent _tokens_ — so the default handling of lexical rules is to just return a string containing the input text that was consumed. That's a reasonable assumption for most lexical rules, but

[2022-08-05 14:29] pdubroy commented on #390
Thanks for the feedback. Re-opening this until the issue is resolved.

I'm not sure I understand how grammars generated with pre-16.4.0 are incompatible with this. I just quickly tried using 16.4.0 to compile against a bundle that was generated with 16.3.4, and didn't have any issues.

Bundles aren't really tied to the version they are generated with, they should their type definitions from the ve

[2022-08-11 21:55] Phamier opened #395 "[TS] Fixing `keyof` type operator for `ActionDict`"
### Introduction
Hi! 👋

Firstly, thanks for your work on this project! 🙂

Today I used [patch-package](https://github.com/ds300/patch-package) to patch `ohm-js@16.4.0` for the project I'm working on.
### Problem
String mapping in type `ActionDict` breaks `keyof` type operator.

### Example
I wanted to make a type containing actions keys of my grammar.

[code]
Instead of returning union of string l

[2022-08-20 11:25] wenerme opened #396 "Editor should support export and import"
The grammar is easy to copy and paste, but the examples is also very important, consider allowed write examples in grammar or export import json

write examples in grammar like

[code]

[2022-08-20 11:26] #396 closed

[2022-09-14 04:56] bytearchive opened #397 "BNF"
does this thing understands BNF, or maybe a bnf -> ohm converter? or do I have to learn another meta langauge?

[2022-09-15 06:54] pdubroy commented on #397
Since the Ohm language is based on [PEGs](https://en.wikipedia.org/wiki/Parsing_expression_grammar), it's not really feasible to directly translate from BNF/EBNF.

So yes, if you'd like to use Ohm, you'll have to learn a new meta language. 😁

[2022-09-15 06:54] #397 closed

[2022-09-15 07:44] bytearchive commented on #397
thanks i'll pass

[2022-09-15 08:03] pdubroy commented on #395
Thanks for opening this issue. I think this makes sense now that we supported generating TypeScript type definitions for grammars. The original type definition was intended to give some basic type information for generic action dictionaries. This would be a breaking change though.

[2022-09-17 08:19] #394 closed

[2022-09-17 08:32] pdubroy commented on #394
This has been fixed on main. However, since it's a breaking change, it won't be released until the next major version (v17), probably in the next few weeks.

[2022-09-17 08:38] #381 closed

[2022-09-17 08:44] pdubroy commented on #378
Fixed, thanks.

[2022-09-17 08:44] #378 closed

[2022-09-17 08:48] #373 closed

[2022-09-20 09:03] jareware opened #401 "Building a standalone parser"
I'm sorry if this is covered somewhere in the docs, I honestly tried hard to find the answer online... but is it possible to build an Ohm parser into a zero-deps JS module like what you get if you do "Download parser" at https://pegjs.org/online?

[2022-09-27 14:27] guitarvydas opened #402 "maybe an infinite loop?"
https://github.com/guitarvydas/pt22.git

I'm developing a new grammar.  I'm sure that there is a problem in my grammar.

Ohm-Editor gives me a red "parse fail" and appears to have gone into an infinite loop.

I've snapshotted this while it is still fresh in my mind.

See ISSUE1.md for the grammar and the test input.  Branch "issue1".

[2022-09-28 17:10] alexwarth commented on #402
Hi Paul,

Here's (part of) your grammar:

[code]

Note that your `comment` rule is *nullable*, i.e., it can succeed w/o consuming any input. Normally this isn't a problem, but by making it a kind of `space` (via `space += comment`) you created an infinite loop. This is because Ohm's [syntactic rules](https://ohmjs.org/docs/syntax-reference#syntactic-lexical) (like `Main` and `Def`, in your grammar

[2022-09-28 17:10] #402 closed

[2022-10-07 15:34] romannurik commented on #328
FWIW I was getting this error and adding a a `caseName` fixed it... i.e. the `-- plus` in the math example. My first thought was it was OHM's commenting syntax, but it's not :)

[2022-10-07 18:38] pdubroy commented on #328
Hi @romannurik! I think the best documentation we have on arity and case names is in the tutorial: https://nextjournal.com/dubroy/ohm-parsing-made-easy#case-labels-and-arity. Does this clarify things?

We should put this (or something like it) into the API reference too.

[2022-10-07 19:01] romannurik commented on #328
Oh I didn't come across that doc, that's helpful !

FWIW so far it's been a great experience :-) thanks for building this!

[2022-10-07 19:15] pdubroy commented on #328
Glad you're enjoying it. I'd be curious to hear what you're doing with it, if you feel like sharing! Feel free to DM me on Twitter if you don't want to go into details right here :-)

[2022-10-07 19:43] romannurik commented on #328
I'll ping you on Twitter primarily to avoid spamming this issue thread not because it's anything private :-)

[2022-11-06 11:00] #386 closed

[2022-11-06 12:50] #395 closed

[2022-11-06 12:53] pdubroy commented on #395
This is now fixed on main, and will be included in the upcoming v17 release. However, you'll have to use `BaseActionDict` to get the behaviour you're looking for.

[code]

[2022-11-06 13:01] pdubroy commented on #377
Taking another look at this as I clean up some bugs in preparation for the v17 release.

After re-reading this, I see that it has nothing to do with the type definitions. @etsai-stripe or @jweissman, can you give me some more details about how you are bundling?

[2022-11-06 13:32] pdubroy commented on #377
Never mind — I was able to reproduce this with webpack Ohm v16.3.4. It seems to be a problem related to ES modules and our use of a default export. For the record, I was able to fix it by modifying the .ohm-bundle.js file, replacing `require('ohm-js')` with `require('ohm-js').default`.

The good news is, it's already fixed on `main` and will be in the next release of Ohm (v17) and `@ohm-js/cli`. I

[2022-11-06 16:34] pdubroy commented on #71
I'm going to close this as we now have an "official" CLI tool.

[2022-11-06 16:34] #71 closed

[2022-11-07 08:36] pdubroy commented on #105
Don't think we need this — closing.

[2022-11-07 08:36] #105 closed

[2022-11-23 21:06] ergodic1 commented on #377
Can you post the relevant code from your working next.config?

[2022-11-23 21:13] ergodic1 commented on #377
For anyone else, a temporary workaround as of `16.4.0` is the following in your cli generated ohm-bundles:

[code]

[2022-11-28 17:23] ericmorand opened #406 "Transform a match into another grammar"
Sorry if I missed something in the documentation, but I'm not sure if it is possible to transform a match from a grammar into another grammar.

Typically, let's say that I have the following input `foo(bar)` that matches Grammar 1.

How would I transform this match into `oof(bar)` that matches another grammar?

Said differently, is it possible to transpile from one grammar to another one?

[2022-11-29 09:44] ericmorand opened #407 "asIteration is missing from the TypeScript types"
`asIteration` is in the documentation but I cant' find it in the TypeScript types.

Is it really supported? How can we use it if we don't know on what kind of node it applies and what it returns?

Thanks by advance.

[2022-11-29 10:11] pdubroy commented on #407
Good catch — I can add it to the type definitions. Yes, it's supported, and it returns an `IterationNode`.

[2022-11-29 10:31] ericmorand commented on #406
OK, let me close this issue. I actually have to use a semantic operation, as explained by the documentation. Sorry for the noise.

[2022-11-29 10:31] #406 closed

[2022-11-29 11:21] ericmorand opened #408 "Would it be conceivable to pass an argument to _terminal?"
This design choice makes impossible to use arrow functions in action dictionaries.

[code]

It also forces the developers to type the `this` argument when not using an arrow function:

[code]

I think it would be easier and more consistent with the other actions if the `_terminal` action would receive the `Node` as argument.

[2022-11-29 13:17] ericmorand opened #409 "Visiting without changing the input actually outputs a different value"
I'm trying to do the most basic thing with OHM: visiting without changing the input match result.

Here is the code that I use:

[code]

I simply define a `passthrough` operation that output the source string of nodes untouched. But still, the output is different from the input:

input: `op(1),op(3),op(4)`
output: `op(1),,op(3)op(4)`

I have no idea where these two consecutive `,` come from and wh

[2022-11-29 15:05] ericmorand commented on #409
By pursuing my investigations, I noticed that the issue appears when there is more than 2 nodes in the iteration:

`op(1),op(2)` => `op(1),op(2)`
`op(1),op(2),op(3)` => `op(1),,op(2)op(3)`

It looks like a bug more and more. :)

[2022-11-29 15:48] ericmorand commented on #409
I've added some debug info to my code and rewrote the grammar to be the simplest possible:

[code]

Here is the formatted debug output:

[code]

What we see here is that the `nonemptyListOf` node has 3 children:

* This first one is the `1` digit
* The second one is an `_iter` that contains _all_ the comas terminal nodes
* The third one is an `_iter` that contains _all_ the other digits

I'm puzzl

[2022-11-29 16:03] pdubroy commented on #409
That is expected, yes. We should definitely improve the documentation about this.

It's due to the way repetition operators (e.g. `*`, `+`) are dealt with in semantic actions. If you have a rule like `line = one ("," two)+`, its semantic action takes three arguments:

[code]

Generally this makes writing semantic actions easier (we think) but it's a bit unintuitive to understand at first.

It's di

[2022-11-29 16:15] ericmorand commented on #409
It is not very elegant, there may be a better way, but it works:

[code]

Thanks a lot for your help. :)

[2022-11-29 17:56] #409 closed